
        <div class="col-md-12" ng-controller="ChartAreaCtrl" ng-show="actionSelected == 'daily'">
            
            <highchart ng-init="loadData('Date_NU_China')" config="chartConfig" ></highchart>
             <input type="hidden" ng-init="chartConfig.title.text='Daily New Users'">

             <input type="hidden" ng-init="valueName='New Users'">
             <input type="hidden" ng-init="Date_NU_China='Mainland Daily New Users'">
             
        </div> 
        <div class="col-md-12" ng-controller="ChartAreaCtrl" ng-show="actionSelected == 'weekly'">
            
            <highchart ng-init="loadData('Week_NU_China')" config="chartConfig" ></highchart>
             <input type="hidden" ng-init="chartConfig.title.text='Weekly New Users'">

             <input type="hidden" ng-init="valueName='New Users'">
             <input type="hidden" ng-init="Week_NU_China='Mainland Weekly New Users'">
             
        </div> 
        <div class="col-md-12" ng-controller="ChartAreaCtrl" ng-show="actionSelected == 'monthly'">
            
            <highchart ng-init="loadData('Month_NU_China')" config="chartConfig" ></highchart>
             <input type="hidden" ng-init="chartConfig.title.text='Monthly New Users'">

             <input type="hidden" ng-init="valueName='New Users'">
             <input type="hidden" ng-init="Month_NU_China='Mainland Monthly New Users'">
             
        </div>       
