<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>

    <!-- Meta-Information -->
    <title>FDT Robot Advisor</title>
    <meta charset="utf-8">
    <meta name="description" content="AngularJs, html5, store, shopping, siteweb, cart">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/bootstrap/bootstrap-theme.min.css"/>
    <!-- <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet"/> -->

    <!-- <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,700,600,300' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,800,700,900' rel='stylesheet' type='text/css'> -->


    <link rel="stylesheet" href="css/main.css"/>
    <link href="css/responsive.css" rel="stylesheet" type="text/css" />
</head>
<body>
<% include nav %>
<div class="about-top-img">
  <div class="effect-over"></div>
    <div class="container">
      <div class="col-lg-12">
       <div class="about-sl-txt">
           <h1 class="about-top-title">立足香港  放眼全球 <span class="color-txt"></span></h1>
           <h1 class="about-top-title"> <span class="color-txt"></span></h1>
       </div>
      </div>
    </div> 
</div>
<div class="breadcrumb-color">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ol class="breadcrumb">
                    <li>
                        <a href="index.html">Home</a>
                    </li>
                    <li class="active">About</li>
                </ol>
            </div>
        </div>
      </div>
</div>
<div class="container">
    <div class="row about-my-office">

        <div class="col-md-6">
            <img class="img-responsive" src="images/team1.png" alt=""/>
        </div>
        <div class="col-md-6">
            <h2 class="t-title-office"><span>專業顧問團隊</span></h2>

            <p>我們是一支由權威專家構成的強大導師和顧問團隊。我們的總導師由著名金融家，前招商銀行行長馬蔚華先生擔任。</p>

            <p>已於全球知名大學組建大數據實驗室和金融創新研究院。包括：牛津大學聶金融大數據實驗室，南京大學-FDT金融創新研究院，清華大學FDT金融雲實驗室。FDT與哥倫比亞大學金融工程系的聯合實驗室和智能資產管理中心，正在籌劃中。
</p>
        </div>

    </div>

    <!-- Team Member Profiles -->

    <div class="row about-generic">

        <div class="col-lg-12">
            <h2 class="page-header-title"><span>大數據團隊</span></h2>
        </div>

        <div class="col-sm-2">
            <div class="about-desc-people">
                <img  style="width:100%" src="images/qifeng.png" alt=""/>
                <span class="job-title"><span>資深數據科學家</span></span>
            </div>
            <h3>柳奇峰博士</h3>
            <p class="job-desc">畢業於中國科學院，專長：人工智能，大數據。曾任職於雅虎實驗室，三星研究院等。
            </p>
            <!-- <ul class="list-unstyled list-inline list-social-icons">
                <li class="tooltip-social facebook-link">
                    <a href="#" data-toggle="tooltip" data-placement="top" title="Facebook">
                        <i class="fa fa-facebook"></i>
                     </a>
                </li>
                <li class="tooltip-social linkedin-link">
                    <a href="#" data-toggle="tooltip" data-placement="top" title="LinkedIn">
                        <i class="fa fa-linkedin"></i>
                    </a>
                </li>
                <li class="tooltip-social twitter-link">
                    <a href="#" data-toggle="tooltip" data-placement="top" title="Twitter">
                             <i class="fa fa-twitter"></i>
                     </a>
                </li>
                <li class="tooltip-social google-plus-link">
                    <a href="#" data-toggle="tooltip" data-placement="top" title="Google+">
                        <i class="fa fa-google-plus"></i>
                    </a>
                </li>
            </ul> -->
        </div>

        <div class="col-sm-2">
            <div class="about-desc-people">
                <img  style="width:100%" src="images/cc.png" alt=""/>
                <span class="job-title"><span>數據科學家</span></span>
            </div>
            <h3>曹琛博士</h3>
            <p class="job-desc">畢業於香港科技大學。專長：大數據，機器學習。曾修讀香港科技大學（博士後）等。
            </p>
            
        </div>
        <div class="col-sm-2">
            <div class="about-desc-people">
                <img class="img-responsive" style="width:100%" src="images/jack.png" alt=""/>
                <span class="job-title"><span>資深數據工程師</span></span>
            </div>
            <h3>周家杰</h3>
            <p class="job-desc">畢業於香港浸會大學，專長：大數據架構，分佈式系統，搜索引擎。曾任職IBM，社交分析香港等。
            </p>
            
        </div>
        <div class="col-sm-2">
            <div class="about-desc-people">
                <img class="img-responsive" style="width:590px" src="images/qd.png" alt=""/>
                <span class="job-title"><span>數據工程師</span></span>
            </div>
            <h3>胡强達</h3>
            <p class="job-desc">畢業於香港科技大學，專長：大數據，統計分析。曾任職於中信證券等國內知名機構。
            </p>
            
        </div>
        <div class="col-sm-2">
            <div class="about-desc-people">
                <img class="img-responsive" style="width:590px" src="images/jinwen.png" alt=""/>
                <span class="job-title"><span>資深研究工程師</span></span>
            </div>
            <h3>郭晋文</h3>
            <p class="job-desc">畢業於上海交通大學，專長：大數據，機器學習，分佈式系統。曾任職於雅虎實驗室，MediaV，Factual等。
            </p>
            
        </div>
        <div class="col-sm-2">
            <div class="about-desc-people">
                <img class="img-responsive" style="width:590px" src="images/sainan.png" alt=""/>
                <span class="job-title"><span>數據工程師</span></span>
            </div>
            <h3>杜敏志</h3>
            <p class="job-desc">畢業於加州大學。專長：統計分析。曾任職於Bioinformatics at Novartis等。
            </p>
            
        </div>
    </div>
    

    <!-- Our Customers -->
    <div id="clients-home3" class="parallax-texture">
        <div class="black-shadow"></div>
        <div class="container">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 team">
                <h1 class="section-title"> <span>最近活動</span></h1>
                    <p class="sub-title">FDT出席各大<br>活動時的精彩瞬間</p>
                    <div class="col-lg-3 col-md-3 col-sm-3">
                      <div class="team-img view view-second">
                       <img src="images/allboss.png" alt="" />                   
                        <div class="content">
                            <p>2015年11月，FDT創始人聶凡淇先生及總導師馬蔚華先生與橋水資產管理公司創始人雷•達里奧先生合影
</p>
                            
                        </div>
                      </div>
                      <p>與桥水雷•達里奧先生合影</p>
                    </div> 

                    <div class="col-lg-3 col-md-3 col-sm-3">
                      <div class="team-img view view-second">
                       <img src="images/nanjing.png" alt="" />
                        <div class="content">
                            <p style="font-size:10px">2015年6月，捐贈成立“南京大學-FDT金融創新研究院”，落戶南京大學工程管理學院，將致力於金融人才培養、金融市場的學術研究和實踐/p>
                            
                        </div>
                      </div>
                      <p>南大FDT金融創新研究院</p>
                    </div>

                    <div class="col-lg-3 col-md-3 col-sm-3">
                      <div class="team-img view view-second">
                       <img src="images/nie.png" alt="" />
                        <div class="content">
                            <p style="font-size:10px">2014年10月，“牛津大學Nie金融大數據實驗室”成立。是FDT在全球範圍內第一個捐贈的金融大數據實驗室。實驗室定址在牛津大學數學學部Andrew Wiles大樓。</p>
                            
                        </div>
                      </div>
                      <p>牛津大學Nie金融大數據實驗室</p>
                    </div>

                    <div class="col-lg-3 col-md-3 col-sm-3">
                      <div class="team-img view view-second">
                       <img src="images/mylon.png" alt="" />
                        <div class="content">
                            <p>2015年5月，FDT創始人聶凡淇先生與諾貝爾經濟學獎得主、期權定價之父邁倫•斯科爾斯先生合影</p>
                            
                        </div>
                      </div>
                      <p>期權定價之父邁倫•斯科爾斯</p>
                    </div>
                </div>
              </div>
         </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header-title"><span>合作方</span></h2>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive img-customer" src="images/janus.jpg" alt=""/>
        </div>

        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive img-customer" src="images/oxford.png" alt=""/>
        </div>

        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive img-customer" src="images/qinghua.png" alt=""/>
        </div>

        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive img-customer" src="images/hkust.png" alt=""/>
        </div>

        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive img-customer" src="images/nanyang.png" alt=""/>
        </div>

        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive img-customer" src="images/columbia.png" alt=""/>
        </div>

    </div>

</div>
<!-- /.container -->

<% include footer %>

<script src="js/jquery.min.js" type="text/javascript"></script>
<script src="js/bootstrap.min.js" type="text/javascript"></script>
<script src="js/minislide/jquery.flexslider.js" type="text/javascript"></script>
<!--Carousel Testimonial-->
<script src="js/owl_carousel/owl.carousel.js" type="text/javascript"></script>
<script src="js/script.js" type="text/javascript"></script>
</body>
</html>