<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>

    <!-- Meta-Information -->
    <title>FDT Robot Advisor</title>
    <meta charset="utf-8">
    <meta name="description" content="AngularJs, html5, store, shopping, siteweb, cart"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>


    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/bootstrap/bootstrap-theme.min.css"/>
    <!-- <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet"/>

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,700,600,300' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,800,700,900' rel='stylesheet' type='text/css'> -->

    <link href="css/minislide/flexslider.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="css/main.css"/>
    <link href="css/responsive.css" rel="stylesheet" type="text/css" />

</head>
<body>
<% include nav %>
<!-- <div class="about2-top-img">
  <div class="effect-about2-over"></div><div id="particles-js"></div>
    <div class="container">
      <div class="col-lg-12">
       
       <h1 class="about2-top-title"> <span class="color-txt">歡迎進入智能投資顧問</span> </h1>
      </div>
    </div> 
</div> -->
<div class="breadcrumb-color">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ol class="breadcrumb">
                    <li style="margin-top: 20px;">
                        <a href="index.html">首頁</a>
                    </li>
                    <li class="active">智能投資顧問</li>
                </ol>
            </div>
        </div>
      </div>
</div>
<div class="container about-pg-2">
    <div class="row">

    <div class="col-md-12 det-info-prod">
             <div class="single-prod-info">
               <div class="det-dres">
                 <span class="product-name-title">您願意投資於波幅多大的投資產品?</span>
                 <a class="subtitle" href=""> </a>
                </div>
                
             </div>
             <div class="single-prod-description">
               
             </div>
             <form action="/ra/answerQuestion" method="POST">
             <div class="details-material_dresses">
              <ul>
                <li class="size-prod">
                   <p>請選擇</p>
                    <div class="radio-chose">
                      <input type="hidden" name="q" value="5">
                      <input type="hidden" name="total" value="<%=total%>"> 
                      <input type="radio" id="A" checked="" name="answer" value="1"> 
                      <label for="A">A. 於– 5%至+ 5%之間的波幅</label>
                      
                      <input type="radio" id="B" name="answer" value="2">
                      <label for="B">B. 於– 10%至+ 10%之間的波幅</label>
                     
                     <input type="radio" id="C" name="answer" value="3">
                     <label for="C">C. 於– 20%至+ 20%之間的波幅</label> 

                     <input type="radio" id="D" name="answer" value="4">
                     <label for="D">D. 於– 20%至+ 20%以上之間的波幅</label> 
                     
                    </div>
                    
                </li>
                
              </ul>
             </div>
             <div class="single-prod-button">
                 <button class="btn btn-lg btn-primary" type="submit">
                    <i class="icon-shopping-cart icon-white"></i> 下一步
                </button>
                
            </div>
            </form>
          </div>
    </div>
</div>
<!-- <footer>
   
    <div class="info-footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                     <div class="col-sm-4"><span class="ic-fo icon-phone"></span><span> +353 (0) 123 456 78</span></div>
                     <div class="col-sm-4"><span class="ic-fo icon-envelope"></span><span> hello@angutheme.com</span></div>
                     <div class="col-sm-4"><span class="ic-fo icon-map-pin"></span><span>+353 (0) 123 456 78</span></div>
                   </div>
                </div>
        </div>
    </div>
    
</footer> -->
    

<script src="js/jquery.min.js" type="text/javascript"></script>
<script src="js/bootstrap.min.js" type="text/javascript"></script>
<script src="js/owl_carousel/owl.carousel.min.js" type="text/javascript"></script>
<!--Mini Flexslide-->
<script src="js/minislide/jquery.flexslider.js" type="text/javascript"></script>

<script src="js/minislide/shCore.js" type="text/javascript"></script>
<script src="js/minislide/shBrushXml.js" type="text/javascript"></script>
<script src="js/minislide/shBrushJScript.js" type="text/javascript"></script>

<script src="js/script.js" type="text/javascript"></script>

</body>
</html>