<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>

    <!-- Meta-Information -->
    <title>ANGULA</title>
    <meta charset="utf-8">
    <meta name="description" content="AngularJs, html5, store, shopping, siteweb, cart"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>


    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/bootstrap/bootstrap-theme.min.css"/>
    <!-- <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet"/> -->

    <link href="css/animate.css" rel="stylesheet" type="text/css" />
    <link href="css/slide/component.css" rel="stylesheet" type="text/css" />
    <!-- <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,700,600,300' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,800,700,900' rel='stylesheet' type='text/css'>
 -->
    <link href="css/minislide/flexslider.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="css/main.css"/>
    <link href="css/responsive.css" rel="stylesheet" type="text/css" />

</head>
<body>
<% include nav %>
<div class="about2-top-img">
  <div class="effect-about2-over"></div><div id="particles-js"></div>
    <div class="container">
      <div class="col-lg-12">
       
       <h1 class="about2-top-title"> <span class="color-txt">歡迎進入智能投資顧問</span> </h1>
      </div>
    </div> 
</div>
<div class="breadcrumb-color">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ol class="breadcrumb">
                    <li>
                        <a href="index.html">首頁</a>
                    </li>
                    <li class="active">智能投資顧問</li>
                </ol>
            </div>
        </div>
      </div>
</div>
<div class="container about-pg-2">
    <div class="row">

        <div class="col-md-6">
             <section class="slider">
                    <div id="slider" class="flexslider .flexslider-attachments">
                        <ul class="slides">
                           <!--  <li data-thumb="images/slider/mini-slider/thumb1.jpg"><img src="images/slider/mini-slider/1.jpg" alt=""/></li> -->
  	    	                <li data-thumb="images/slider/mini-slider/thumb2.jpg"><img src="images/slider/mini-slider/2.jpg" alt=""/></li>
  	    	                <li data-thumb="images/slider/mini-slider/thumb3.jpg"><img src="images/slider/mini-slider/3.jpg" alt=""/></li>
                        </ul>
                    </div>
             </section>
        </div>
        <div class="col-md-6">
            <h2 class="t-title-office office2"><span>別急，開始之前，請了解清楚</span></h2>

            <p>我們的責任，是幫助投資者在傳統投資中，對市場變化的提心吊膽和對市場預測的小道消息剔除，為投資者建立盡可能簡單，健康，長期的投資。只需回答幾個簡單問題，您的投資金額就會根據您的需要和風險承受能力，自動形成一個全球化的投資組合。我們的基金指數追踪美指和港指，最重要的是，我們每一天都會監管您的投資組合，並且會根據市場的改變來重新調整不同部分的投資比例</p>

            <p>歷史表現並不是未來收益的保證。歷史收益，收益預期並不能代表未來表現。所有證券投資都有風險，可能會帶來損失。我們的唯一義務是根據數學模型和金融分析得出的結果為用戶提供投資信息，並不提供任何其他金融服務，包括但不限於投資諮詢服務，投資顧問服務及資產管理服務。</p>
          <div class="col-sm-4">
            <div class="box-hover circle colored effect left_to_right">
                <a href="/ra/riskQ">
                     <div class="img "><img src="images/bg18.png" alt="img"/></div>
                      <div class="info ">
                        <h3>風險披露聲明及免責聲明</h3>
                        <p>同意並開始</p>
                      </div>
                   </a>
             </div>
        </div>
        </div>

    </div>
</div>
<div class="section wave">
    <div class="container">
        <div class="row banner-info-home2">
            <div id='home2Pass' class="col-lg-12 col-md-12"><h2 class="page-header-title home2-title"><span>智能投顧優勢</span></h2></div>
            <div class="col-lg-12 col-md-12 home-percentage">
                <div class="col-lg-3 col-md-3 col-sm-3">
                    <div class="fact-icon"><span class="icon-gears"></span></div>
                    <div class="fact-number" data-perc="630">
                        <h3 class="light uppercase">全自動7X24</h3>
                    </div><!-- End Factor Area -->
                </div><!-- End Factor -->
                <div class="col-lg-3 col-md-3 col-sm-3">
                    <div class="fact-icon"><span class="icon-pricetags"></span></div>
                    <div class="fact-number" data-perc="250">
                 
                        <h3 class="light uppercase">低管理費</h3>
                    </div><!-- End Factor Area -->
                </div><!-- End Factor -->
                <div class="col-lg-3 col-md-3 col-sm-3">
                    <div class="fact-icon"><span class="icon-wine"></span></div>
                    <div class="fact-number" data-perc="320">
                    
                        <h3 class="light uppercase">低稅率</h3>
                    </div><!-- End Factor Area -->
                </div><!-- End Factor -->
                <div class="col-lg-3 col-md-3 col-sm-3">
                    <div class="fact-icon"><span class="icon-wallet"></span></div>
                    <div class="fact-number" data-perc="840">
        
                        <h3 class="light uppercase">零門檻</h3>
                    </div><!-- End Factor Area -->
                </div><!-- End Factor -->
                <div class="clear"></div>
            </div>

        </div>

        <!-- /.row -->
        
    </div>
    <!-- /.container -->

</div>
<!-- /.section -->

<div class="city-bg">
    <!--<div class="effect-cover"></div>-->
      <div class="well">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <img src="http://fdt.io/wp-content/uploads/2016/04/score-item.png" alt=""/>
                </div>
                <div class="col-lg-6 col-md-6 iphone-desc">
                    <ul>
                        <li class="animated"><p><span class=" icon-gears"></span>我們的智能投資顧問將為您全天候，晝夜不停地管理你的投資賬戶 。我們會做所有的工作，這樣你可以專注於其他重要的事情</p></li>
                        <li class="animated"><p><span class=" icon-pricetags"></span>投資不應該是昂貴的。相比傳統基金，我們收取的管理費只是其一小部分。</p></li>
                        <li class="animated"><p><span class=" icon-wine"></span>我們會在管理您你帳戶時時刻考慮稅的問題，因為減少你的稅是最大限度地提高您的長期投資回報的重要組成部分。</p></li>
                        <li class="animated"><p><span class=" icon-wallet"></span>讓任何人都能無須高額費用或者帳戶資金門檻限制輕鬆獲得世界一流的，長期的投資管理組合。</p></li>
                    </ul>
               
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </div>
</div>
<!-- /.section-colored -->

<div class="callout-box style3">
    <div class="container">
        <div class="callout-content">
            <div class="callout-text">
                <h2>馬上開始迎接第一個您專屬的投資顧問機械人吧!</h2>
            </div>
            <div class="callout-action">
                <a class="btn btn-lg btn-primary style3" href="/ra/riskQ">馬上開始</a>
            </div>
        </div>
    </div>
</div>
<% include footer %>
    

<script src="js/jquery.min.js" type="text/javascript"></script>
<script src="js/bootstrap.min.js" type="text/javascript"></script>
<script src="js/owl_carousel/owl.carousel.min.js" type="text/javascript"></script>
<!--Mini Flexslide-->
<script src="js/minislide/jquery.flexslider.js" type="text/javascript"></script>

<script src="js/minislide/shCore.js" type="text/javascript"></script>
<script src="js/minislide/shBrushXml.js" type="text/javascript"></script>
<script src="js/minislide/shBrushJScript.js" type="text/javascript"></script>

<script src="js/script.js" type="text/javascript"></script>

    <script src="js/particles.min.js" type="text/javascript"></script>
    <script src="js/app.js"></script>
</body>
</html>