<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>

    <!-- Meta-Information -->
    <title>FDT Robot Advisor</title>
    <meta charset="utf-8">
    <meta name="description" content="智能投顧,智能投資,人工智能,金融大數據,投資機械人,robot advisor,智能投顾,智能投资,人工智能,金融大数据,投资机器人"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>


    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/bootstrap/bootstrap-theme.min.css"/>
    <!-- <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet"/> -->

    <link href="css/animate.css" rel="stylesheet" type="text/css" />
    <link href="css/slide/component.css" rel="stylesheet" type="text/css" />
    <!-- <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,700,600,300' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,800,700,900' rel='stylesheet' type='text/css'>
 -->
    <link href="css/minislide/flexslider.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="css/main.css"/>
    <link href="css/responsive.css" rel="stylesheet" type="text/css" />

</head>
<body>
<% include nav %>
<div class="robot-top-img">
  <div class=""></div>
    <div class="container">
      <div class="col-lg-12">
       <div class="about-sl-txt">
           <h1 class="about-top-title">智能投顧雲計算 <span class="color-txt"></span></h1>
           <h1 class="about-top-title"> <span class="color-txt">一站式智能投顧方案專家</span></h1>
           <p class="robot-desc">
               <span class="robot-icon icon-lock"></span> FDT智投私有雲使用先進加密技術（ECC，RSA-2048等），確保用戶數據絕對安全。
               <br>
               <br>
               <span class="robot-icon icon-cloud"></span> 中央智能雲端計算，以低成本提供高可用性和穩定性。
               <br>
               <br>
               <span class="robot-icon icon-genius"></span> 以經典的Black-Litterman模型(B-L模型)為基礎框架。
               <br>
               <br>
               <span class="robot-icon icon-mobile"></span> 提供高定制化手機應用App。
           </p>
       </div>
      </div>
    </div> 
    <div class="phone">
        <iframe src="/m" frameborder="0" scrolling="no"></iframe>
        <div class="statusbar"></div>
    
   
    </div>

</div>
<!-- <div class="breadcrumb-color">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ol class="breadcrumb">
                    <li>
                        <a href="index.html">首頁</a>
                    </li>
                    <li class="active">智能投資顧問</li>
                </ol>
            </div>
        </div>
      </div>
</div> -->
<div class="container about-pg-2" style="margin-top : 200px">
    <div class="row">

        <div class="col-md-12" style="position: relative;">
            
        </div>
        <!-- <div class="col-md-6">
            
        </div> -->
        </div>

    </div>
</div>
<div class="section wave">
    <div class="container">
        <div class="row banner-info-home2">
            <div id='home2Pass' class="col-lg-12 col-md-12"><h2 class="page-header-title home2-title"><span>智能投顧雲優勢</span></h2></div>
            <div class="col-lg-12 col-md-12 home-percentage">
                <div class="col-lg-3 col-md-3 col-sm-3">
                    <div class="fact-icon"><span class="icon-gears"></span></div>
                    <div class="fact-number" data-perc="630">
                        <h3 class="light uppercase">一站式</h3>
                    </div><!-- End Factor Area -->
                </div><!-- End Factor -->
                <div class="col-lg-3 col-md-3 col-sm-3">
                    <div class="fact-icon"><span class="icon-pricetags"></span></div>
                    <div class="fact-number" data-perc="250">
                 
                        <h3 class="light uppercase">低費用</h3>
                    </div><!-- End Factor Area -->
                </div><!-- End Factor -->
                <div class="col-lg-3 col-md-3 col-sm-3">
                    <div class="fact-icon"><span class="icon-wine"></span></div>
                    <div class="fact-number" data-perc="320">
                    
                        <h3 class="light uppercase">快速構架</h3>
                    </div><!-- End Factor Area -->
                </div><!-- End Factor -->
                <div class="col-lg-3 col-md-3 col-sm-3">
                    <div class="fact-icon"><span class="icon-wallet"></span></div>
                    <div class="fact-number" data-perc="840">
        
                        <h3 class="light uppercase">全自動7X24</h3>
                    </div><!-- End Factor Area -->
                </div><!-- End Factor -->
                <div class="clear"></div>
            </div>

        </div>

        <!-- /.row -->
        
    </div>
    <!-- /.container -->

</div>
<!-- /.section -->

<div class="city-bg">
    <!--<div class="effect-cover"></div>-->
      <div class="well">
        <div class="container">
            <div class="row">
            <h3 class="pull-right">中央雲計算核心部件</h3>
                <div class="col-lg-6 col-md-6">
                    <img src="http://fdt.io/wp-content/uploads/2016/04/score-item.png" alt=""/>
                </div>

                <div class="col-lg-6 col-md-6 iphone-desc">
                    <ul>
                        <li class="animated"><p><span class=" icon-gears"></span>Black-Litterman模型</p></li>
                        <li class="animated"><p><span class=" icon-pricetags"></span>半方差方法</p></li>
                        <li class="animated"><p><span class=" icon-wine"></span>深度学习算法。</p></li>
                        <li class="animated"><p><span class=" icon-wallet"></span>风险评测。</p></li>
                    </ul>
               
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </div>
</div>
<!-- /.section-colored -->

<div class="callout-box style3">
    <div class="container">
        <div class="callout-content">
            <div class="callout-text">
                <h2>馬上開始迎接第一個您專屬的投資顧問機械人吧!</h2>
            </div>
            <div class="callout-action">
                <a class="btn btn-lg btn-primary style3" href="/ra/riskQ">馬上開始</a>
            </div>
        </div>
    </div>
</div>
<% include footer %>
    

<script src="js/jquery.min.js" type="text/javascript"></script>
<script src="js/bootstrap.min.js" type="text/javascript"></script>
<script src="js/owl_carousel/owl.carousel.min.js" type="text/javascript"></script>
<!--Mini Flexslide-->
<script src="js/minislide/jquery.flexslider.js" type="text/javascript"></script>

<script src="js/minislide/shCore.js" type="text/javascript"></script>
<script src="js/minislide/shBrushXml.js" type="text/javascript"></script>
<script src="js/minislide/shBrushJScript.js" type="text/javascript"></script>

<script src="js/script.js" type="text/javascript"></script>

    <script src="js/particles.min.js" type="text/javascript"></script>
    <script src="js/app.js"></script>
</body>
</html>